.ribbonContainer {
    position: relative;
    min-height: 100px;
}

.rightCornerRibbon {
    position: absolute;
    top: -10px;
    right: -10px;
}

.rightCornerRibbonText {
    position: absolute;
    transform: rotate(45deg);
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: -8px;
    right: -8px;
}

.rightCornerLargeRibbon {
    position: absolute;
    top: -12px;
    right: -12px;
}

.rightCornerLargeRibbonText {
    position: absolute;
    transform: rotate(45deg);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: -10px;
    right: -10px;
}

.leftCornerRibbon {
    position: absolute;
    top: -10px;
    left: -10px;
}

.leftCornerRibbonText {
    position: absolute;
    transform: rotate(-45deg);
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: -8px;
    left: -8px;
}

.leftCornerLargeRibbon {
    position: absolute;
    top: -12px;
    left: -12px;
}

.leftCornerLargeRibbonText {
    position: absolute;
    transform: rotate(-45deg);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: -10px;
    left: -10px;
}

.rightRibbon {
    position: absolute;
    top: 0;
    right: -10px;
}

.rightRibbonText {
    position: absolute;
    font-size: 0.8em;
    top: 12px;
    right: 7px;
}

.rightLargeRibbon {
    position: absolute;
    top: 0;
    right: -15px;
}

.rightLargeRibbonText {
    position: absolute;
    font-size: 0.9em;
    top: 21px;
    right: 9px;
}

.leftRibbon {
    position: absolute;
    top: 0;
    left: -10px;
}

.leftRibbonText {
    position: absolute;
    font-size: 0.8em;
    top: 12px;
    left: 7px;
}

.leftLargeRibbon {
    position: absolute;
    top: 0;
    left: -15px;
}

.leftLargeRibbonText {
    position: absolute;
    font-size: 0.9em;
    top: 21px;
    left: 9px;
}